@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap&subset=cyrillic');
body, html{
	font-family: 'PT Sans', sans-serif;
}
.header{
	z-index: 9999;
	width: 100%;
	max-width: 100%;
	margin-top: -10px;
	height: 80px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	position: sticky;
	top: 0;
}
.logo{
	font-family: 'Amatic SC', cursive;
	text-decoration: none;
	color: black;
	font-size: 360%;
	display: flex;
  	align-items: center;
  	justify-content: center;
}
.title{
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: 17%;
	font-size: 300%;
	white-space: pre-line;
	display: block;
	width: 60%;
}
.text{
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: 17%;
	font-size: 120%;
	white-space: pre-line;
	display: block;
	width: 60%;
	padding-bottom: 2%;
}
.views{
	color: grey;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: 17%;
	font-size: 120%;
}
img{
	width: 400px;
}
@media only screen and (max-width: 768px) {
	.title{
		font-size: 6.3vw;
	}
	.text{
		font-size: 2.5vw;
	}
	.views{
		font-size: 2.5vw;
	}
	img{
		width: 100%;
	}
}
@media only screen and (max-width: 450px) {
	.logo{
		font-size: 12.8vw;
	}
	.header{
		height: 100%;
	}
}