@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap&subset=cyrillic');
body, html{
	font-family: 'Amatic SC', cursive;
}
.header{
	z-index: 9999;
	width: 100%;
	max-width: 100%;
	margin-top: -10px;
	height: 80px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	position: sticky;
	top: 0;
}
.logo{
	text-decoration: none;
	color: black;
	font-size: 360%;
	display: flex;
  	align-items: center;
  	justify-content: center;
}
.article{
	position: relative;
	top: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	padding-bottom: 380px;
}
.img{
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
}
.title{
	position: absolute;
	white-space: pre-line;
	display: block;
	width: 70%;
	top: 0;
	left: 0;
	margin-top: 21%;
	margin-left: 13%;
	font-size: 200%;
	text-decoration: none;
	color: black;
}
.title:hover{
	text-decoration: underline;
}
@media only screen and (max-width: 450px) {
	.article{
		width: 100%;
		padding-bottom: 95%;
	}
	.img{
		width: 100%;
	}
	.title{
		font-size: 7vw;
		width: 60%;
		margin-top: 22%;
	}
	.logo{
		font-size: 12.8vw;
	}
	.header{
		height: 100%;
	}
}