@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap&subset=cyrillic');
body, html{
	font-family: 'PT Sans', sans-serif;
}
.header{
	z-index: 9999;
	width: 100%;
	max-width: 100%;
	margin-top: -10px;
	height: 80px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	position: sticky;
	top: 0;
}
.logo{
	font-family: 'Amatic SC', cursive;
	text-decoration: none;
	color: black;
	font-size: 360%;
	display: flex;
  	align-items: center;
  	justify-content: center;
}
.login{
	border-radius: 5px;
	border: 1px solid grey;
	padding: 10px;
	outline: none;
	display: block;
	position: relative;
	top: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 300px;
}
.passwd{
	padding: 10px;
	border-radius: 5px;
	border: 1px solid grey;
	outline: none;
	display: block;
	position: relative;
	top: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: -15px;
	width: 300px;
}
.btn{
	outline: none;
	display: block;
	position: relative;
	border-radius: 5px;
	border: 1px solid grey;
	top: 0;
	left: 0;
	height: 25px;
	width: 323px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -15px;
	white-space: nowrap;
}
.loginname{
	font-size: 13px;
}
@media only screen and (max-width: 450px) {
	.logo{
		font-size: 12.8vw;
	}
	.header{
		height: 100%;
	}
}
@media only screen and (max-width: 355px) {
	.login{
		margin-top: 9%;
		width: 93%;
	}
	.passwd{
		margin-top: -5%;
		width: 93%;
	}
	.btn{
		margin-top: -5%;
		width: 100%;
	}
}
@media only screen and (max-width: 155px) {
	.loginname{
		font-size: 8vw;
	}
}