@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap&subset=cyrillic');
body, html{
	font-family: 'PT Sans', sans-serif;
}
.header{
	z-index: 9999;
	width: 100%;
	max-width: 100%;
	margin-top: -10px;
	height: 80px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	position: sticky;
	top: 0;
}
.logo{
	font-family: 'Amatic SC', cursive;
	text-decoration: none;
	color: black;
	font-size: 360%;
	display: flex;
  	align-items: center;
  	justify-content: center;
}
.newpost{
	position: relative;
	top: 0;
	left: 0;
	width: 99.85%;
	height: 200px;
	margin-top: 20px;
	border: 1px solid grey;
}
.title{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 85px;
	margin-left: 5%;
	width: 20%;
}
.textofarticle{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 15px;
	margin-left: 31.5%;
	width: 25%;
	height: 80%;
}
.btn3{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 85px;
	margin-left: 71%;
	width: 15%;
}
.btn{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 85px;
	margin-left: 61%;
	width: 15%;
}
.btn2{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 85px;
	margin-left: 81%;
	width: 15%;
}
@media only screen and (max-width: 820px) {
	.btn3{
		margin-left: 76%;
	}
	.btn{
		margin-left: 65%;
	}
	.textofarticle{
		margin-left: 36.5%;
	}
	.title{
		margin-left: 8%;
	}
}
@media only screen and (max-width: 450px) {
	.logo{
		font-size: 12.8vw;
	}
	.header{
		height: 100%;
	}
	.btn3{
		margin-left: 78%;
	}
	.btn{
		margin-left: 73%;
		width: 10%;
	}
	.btn2{
		margin-left: 87%;
		width: 10%;
	}
	.textofarticle{
		margin-left: 42.5%;
	}
	.title{
		margin-left: 10%;
	}
}
@media only screen and (max-width: 250px) {
	.logo{
		font-size: 12.8vw;
	}
	.header{
		height: 100%;
	}
	.btn3{
		margin-left: 78%;
	}
	.textofarticle{
		margin-left: 42.5%;
	}
	.title{
		margin-left: 7%;
	}
}